<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/deo.css" />
    <link rel="stylesheet" href="~/assets/fontawesome-5.15.1/css/all.min.css" />
    <script src="~/assets/fontawesome-5.15.1/js/all.js"></script>
</head>
<body>
    <div class="d-container">
        <div class="d-menu">
            <div class="d-menu-wrap">
                <span>
                    <img src="assets/img/toggle.png" class="d-menu-icon" />
                </span>
                <a href="">
                    <img src="assets/img/logo.png" class="d-menu-logo" />                    
                </a>
            </div>

            <partial name="_MenuItem" />
        <div class="d-content">
            <header class="d-header">
                <div class="d-header-name">
                    @ViewData["Title"]
                </div>
                @* <div class="d-header-user">
                    <img src="assets/icon/avatar-default.png" class="logo-user"/>
                    Vương Toàn Thắng
                    <img src="assets/icon/option.png" />
                </div> *@
            </header>

            <main class="d-content-data">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
