<ul class="d-menu-list">
        <li class="active">
            <img src="assets/icon/dashboard.png" />
            <a href="#">Trang quản lý</a>
        </li>
        <li>
            <img src="assets/icon/report.png" />
            <a href="#">Quản lý bài viết</a>
        </li>
        <li>
            <img src="assets/icon/document-online.png" />
            <a href="#">Quản lý chuyên mục</a>
        </li>
        <li>
            <img src="assets/icon/dic-employee.png" />
            <a href="#">Hoạt động gây quỹ</a>
        </li>
        <li>
            <img src="assets/icon/setting.png" />
            <a href="#">Thiết lập hệ thống</a>
        </li>
    </ul>
</div>