<p>
    <a href="https://apps.agu.edu.vn/drl/login" style="text-align: center;">
        <img 
            alt=""
            src="https://sao.agu.edu.vn//sites/default/files/default_images/Untitled-1.jpg"
            style="height:105px;"
            class="img-fluid"
        />
    </a>
</p>
<p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfwSycOjMM3rUMkBzh_15nxZ0aJ_O-0qxTK0RaG1c6rHXEKzw/viewform">
        <img 
            alt=""
            src="https://sao.agu.edu.vn//sites/default/files/23146207_1344879738957126_1573850142_n.jpg"
            style="height:105px;"
            class="img-fluid"
        />
    </a>
</p>
<p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfW_RqaZuYFe1hNMohJjq2Cz3g8D4ZJgMaYRvAzgcuX2T-uGw/viewform">
        <img 
            alt=""
            src="https://sao.agu.edu.vn//sites/default/files/23163645_1345509845560782_1110001042_n.jpg"
            style="height:105px;"
            class="img-fluid"
        />
    </a>
</p>
<p>
    <a href="https://www.facebook.com/Sao_AGU-251373751976738/">
        <img 
            alt=""
            src="https://sao.agu.edu.vn//sites/default/files/23146307_1344892065622560_251256466_n.jpg"
            style="height:105px;"
            class="img-fluid"
        />
    </a>
</p>
<p>
    <a href="https://www.facebook.com/B%E1%BB%99-ph%E1%BA%ADn-H%E1%BB%97-tr%E1%BB%A3-Sinh-vi%C3%AAn-v%C3%A0-Quan-h%E1%BB%87-Doanh-nghi%E1%BB%87p-AGU-110693630296566/">
        <img 
            alt=""
            src="https://sao.agu.edu.vn//sites/default/files/default_images/FB%20BP.jpg"
            style="height:105px;"
            class="img-fluid"
        />
    </a>
</p>