<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý nhà hàng</title>
    <link rel="stylesheet" href="style/style.css" />
    <link rel="stylesheet" href="assets/fontawesome-5.15.1/css/all.min.css" />
    <script src="assets/fontawesome-5.15.1/js/all.js"></script>
</head>
<body>
    <div class="d-container">
        <div class="d-menu">
            <div class="d-menu-wrap">
                <span>
                    <img src="assets/img/toggle.png" class="d-menu-icon" />
                </span>
                <a href="">
                    <img src="assets/img/cukcuk-logo.png" class="d-menu-logo" />                    
                </a>
            </div>

            <ul class="d-menu-list">
                <li class="active">
                    <img src="assets/icon/dashboard.png" />
                    <a href="#">Tổng quan</a>
                </li>
                <li>
                    <img src="assets/icon/report.png" />
                    <a href="#">Báo cáo</a>
                </li>
                <li>
                    <img src="assets/icon/document-online.png" />
                    <a href="#">Mua hàng</a>
                </li>
                <li>
                    <img src="assets/icon/dic-employee.png" />
                    <a href="#">Danh mục nhân viên</a>
                </li>
                <li>
                    <img src="assets/icon/setting.png" />
                    <a href="#">Thiết lập hệ thống</a>
                </li>
            </ul>
        </div>
        <div class="d-content">
            <div class="d-header">
                <div class="d-header-name">
                    Nhà hàng Biển Đông 
                    <span class="d-header-select">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </div>
                <div class="d-header-user">
                    <img src="assets/icon/avatar-default.png" class="logo-user"/>
                    Vương Toàn Thắng
                    <img src="assets/icon/option.png" />
                </div>
            </div>
            <div class="d-content-data">
                <div class="d-row-between">
                    <h1>Danh sách nhân viên</h1>
                    <button class="d-button d-button--icon d-button--icon-add">
                        Thêm thành viên
                    </button>
                </div>

                <div class="d-row-between">
                    <div>
                        <input type="text" style="width: 320px;" class="d-input--icon d-input--icon-search" placeholder="Tìm kiếm theo mã, tên hoặc số điện thoại" />
                        <select>
                            <option>Tất cả phòng ban</option>
                        </select>
                        <select>
                            <option>Tất cả vị trí</option>
                        </select>
                    </div>
                    <div>
                        <button class="d-second-button" style="min-width: 40px;">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                    </div>
                </div>

                <br />
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="d-table">
                            <tr class="d-table-row-sticky">
                                <th>#</th>
                                <th>Mã nhân viên <i class="sort fas fa-sort"></i></th>
                                <th>Họ và tên <i class="sort fas fa-sort"></i></th>
                                <th>Giới tính<i class="sort fas fa-sort"></i></th>
                                <th>Ngày sinh<i class="sort fas fa-sort"></i></th>
                                <th>Điện thoại <i class="sort fas fa-sort"></i></th>
                                <th>Email <i class="sort fas fa-sort"></i></th>
                                <th>Chức vụ <i class="sort fas fa-sort"></i></th>
                                <th>Phòng ban <i class="sort fas fa-sort"></i></th>
                                <th>Mức lương <i class="sort fas fa-sort"></i></th>
                                <th>Tình trạng công việc <i class="sort fas fa-sort"></i></th>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="1">
                                        1
                                        <input type="checkbox" id="1" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1075
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="2">
                                        2
                                        <input type="checkbox" id="2" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1076
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="3">
                                        3
                                        <input type="checkbox" id="3" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1077
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="4">
                                        4
                                        <input type="checkbox" id="4" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1078
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="5">
                                        5
                                        <input type="checkbox" id="5" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1079
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="1">
                                        1
                                        <input type="checkbox" id="1" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1075
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="2">
                                        2
                                        <input type="checkbox" id="2" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1076
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="3">
                                        3
                                        <input type="checkbox" id="3" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1077
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="4">
                                        4
                                        <input type="checkbox" id="4" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1078
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="5">
                                        5
                                        <input type="checkbox" id="5" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1079
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="1">
                                        1
                                        <input type="checkbox" id="1" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1075
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="2">
                                        2
                                        <input type="checkbox" id="2" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1076
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="3">
                                        3
                                        <input type="checkbox" id="3" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1077
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="4">
                                        4
                                        <input type="checkbox" id="4" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1078
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="5">
                                        5
                                        <input type="checkbox" id="5" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1079
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="1">
                                        1
                                        <input type="checkbox" id="1" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1075
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="2">
                                        2
                                        <input type="checkbox" id="2" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1076
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="3">
                                        3
                                        <input type="checkbox" id="3" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1077
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="4">
                                        4
                                        <input type="checkbox" id="4" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1078
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                            <tr class="d-table-row">
                                <td>
                                    <label class="d-checkbox" for="5">
                                        5
                                        <input type="checkbox" id="5" />
                                        <span class="d-checkbox--checked"></span>
                                    </label>
                                </td>
                                <td>
                                    MF1079
                                </td>
                                <td>
                                    Vương Toàn Thắng
                                </td>
                                <td>
                                    Nam
                                </td>
                                <td>
                                    09/11/2000
                                </td>
                                <td>
                                    0389064540
                                </td>
                                <td>
                                    thangdotpro@gmail.com
                                </td>
                                <td>
                                    Lập trình viên
                                </td>
                                <td>
                                    Phát triển sản phẩm
                                </td>
                                <td>
                                    12.000.000
                                </td>
                                <td>
                                    Đang làm việc
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="d-paging" style="position: absolute; bottom: 0; left: 0; right: 0;">
                <div class="d-paging-show">Hiển thị <strong>01-20/200</strong> lao động</div>
                <div class="d-paging-page">
                    <span class="d-page-move">
                        <img src="assets/icon/btn-firstpage.svg" />
                    </span>
                    <span class="d-page-move">
                        <img src="assets/icon/btn-prev-page.svg" />
                    </span>
                    <button class="d-page d-page-active">1</button>
                    <button class="d-page">2</button>
                    <button class="d-page">3</button>
                    <button class="d-page">4</button>
                    <span class="d-page-move">
                        <img src="assets/icon/btn-next-page.svg" />
                    </span>
                    <span class="d-page-move">
                        <img src="assets/icon/btn-lastpage.svg" />
                    </span>
                </div>
                <div class="d-paging-choose">
                    <select>
                        <option value="10">10 lao động/trang</option>
                        <option value="20">20 lao động/trang</option>
                        <option value="30">30 lao động/trang</option>
                        <option value="40">40 lao động/trang</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="d-box-container">
        <div class="d-box">
            <div class="d-box-header">
                <h1>
                    Thông tin nhân viên
                </h1>
                <span style="font-size: 20px;">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <div class="d-box-main">
                <div>
                    <img src="assets/img/default-avatar.jpg" class="upload-avatar"/>
                    <div style="text-align: center;">(Vui lòng chọn ảnh có <br />định dạng <br />.png, .jpeg, .jpg, .gif)</div>
                </div>
                <div>
                    <h1>A. Thông tin chung</h1>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Mã nhân viên
                                (<span class="d-label-required">*</span>)
                            </label>
                            <input type="text" class="d-input--text" placeholder="Nhập mã nhân viên" />
                        </div>
    
                        <div>
                            <label class="d-label">
                                Họ và tên
                                (<span class="d-label-required">*</span>)
                            </label>
                            <input type="text" class="d-input--text" placeholder="Nhập họ và tên" />
                        </div>
                    </div>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Ngày sinh
                            </label>
                            <input type="date" class="d-input--text" style="width: 200px"/>
                        </div>
    
                        <div>
                            <label class="d-label">
                                Giới tính
                            </label>
                            <select style="margin: 0">
                                <option>Nam</option>
                                <option>Nữ</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Số CMTND/Căn cước
                                (<span class="d-label-required">*</span>)
                            </label>
                            <input type="text" class="d-input--text" placeholder="Nhập mã nhân viên" />
                        </div>
    
                        <div>
                            <label class="d-label">
                                Ngày cấp
                            </label>
                            <input type="date" class="d-input--text" style="width: 200px"/>
                        </div>
                    </div>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Nơi cấp
                            </label>
                            <input type="text" class="d-input--text" placeholder="Nhập nơi cấp" />
                        </div>
                    </div>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Email
                                (<span class="d-label-required">*</span>)
                            </label>
                            <input type="email" class="d-input--text" placeholder="Nhập email" />
                        </div>
    
                        <div>
                            <label class="d-label">
                                Số điện thoại
                                (<span class="d-label-required">*</span>)
                            </label>
                            <input type="text" class="d-input--text" placeholder="Nhập số điện thoại"/>
                        </div>
                    </div>
    
                    <h1>B. Thông tin công việc</h1>
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Vị trí
                            </label>
                            <select style="margin: 0">
                                <option>Giám đốc</option>
                                <option>Nhân viên</option>
                            </select>
                        </div>
    
                        <div>
                            <label class="d-label">
                                Phòng ban
                            </label>
                            <select style="margin: 0">
                                <option>Phòng nhân sự</option>
                                <option>Phòng kỹ thuật</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Mã số thuế
                            </label>
                            <input type="email" class="d-input--text" placeholder="Nhập mã số thuế" />
                        </div>
    
                        <div>
                            <label class="d-label">
                                Mức lương cơ bản
                            </label>
                            <input type="text" class="d-input--text" placeholder="Nhập mức lương"/>
                        </div>
                    </div>
    
                    <div class="d-row-between d-row-gap-10 ">
                        <div>
                            <label class="d-label">
                                Ngày ra nhập công ty
                            </label>
                            <input type="date" class="d-input--text" style="width: 200px"/>
                        </div>
    
                        <div>
                            <label class="d-label">
                                Tình trạng làm việc
                            </label>
                            <select style="margin: 0">
                                <option>Đang làm việc</option>
                                <option>Đã nghỉ</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="d-box-footer">
                <button class="d-second-button" style="min-width: 40px;">
                    Hủy
                </button>
                <button class="d-button d-button--icon d-button--icon-add">
                    Lưu
                </button>
            </div>
        </div>
    </div>
</body>
</html>